   {%extends "layout.html"%}


   {%block heading_title%}
            <div id="btn">
                <a id="about" href="#about">ABOUT ME</a>
            </div>
            {%endblock%}
   {%block body%}
        
        
        <div style="margin: 60px;" class="container"> 
            <div  style="text-align: center;">
            <div class="row">
               <div class="col-lg-4 col-sm-5">
        <img id="image1" src="/static/images/profile photo.jpg"  alt="">
               </div>
        
        <div class="col-lg-8 col-sm-6" style="margin: 100px auto; color: rgb(120, 94, 151);">
           
            An Electronics Graduate Engineer with top of the roof passion for the engineering field. I am ready to learn and face new challenges
            that will enable me build on my skills to have a good career. I am result oriented with the drive to take my professional growth to the
            next level. I am currently enrolled in my master program and i do web development and Music production in my spare time
        
        <div class="row">
        <div class="col-lg-12">
            <h5 style="text-align: center;">CONTACT:</h5>
            <ul class="footlist" style="text-align: center;">
                <li><i class="fas fa-at details"></i>  dewoleawe@gmail</li>
                <li><i class="fas fa-mobile-alt details"></i>+1(438)4641631</li>
        
        
            </ul>
        </div>
        
        
        </div>
        </div>
        
        
            </div>
            
        </div>
          </div> 
        
        
        
            <section id="skills" class="container">
                <div class="row ">
                
            <div class="col-md-6 section-col">
                <h4 style="text-align: center;">Technical Skills</h4>
                <ul >
                    <li class="skills"> <span class="abilities"> Html </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></span></li>
                    <li class="skills"><span class="abilities">Css</span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span></span></li>
                    <li class="skills"> <span class="abilities">Python  </span>
                        <span class="ability-score">
                         <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span></span></li>
                     <li class="skills"> <span class="abilities">SQL</span>
                            <span class="ability-score">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span></span></li>
                            <li class="skills"><span class="abilities">Flask Framework</span>
                                <span class="ability-score">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span></span></li>
                            </li>
                            <li class="skills"><span class="abilities">Automation</span>
                                <span class="ability-score">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span></span></li>
                            </li>
                    <li class="skills"> <span class="abilities">JavaScript</span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span></span></li>
                        <li class="skills"> <span class="abilities">C</span>
                            <span class="ability-score">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span></span></li>
                            <li class="skills"> <span class="abilities">C++</span>
                                <span class="ability-score">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span></span></li>
                  
                    <li class="skills"> <span class="abilities">API </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span></span></li>
                   
                    <li class="skills"> <span class="abilities">Django</span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span></li>
                </ul>
            </div>
            
         
            <div class="col-md-6 section-col">
                <h4 style="text-align: center">Tools</h4>
                <ul>
                    <li class="skills"> <span class="abilities">VS Code </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span></li>
                    <li class="skills"> <span class="abilities">Atom</span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span></li>
                    <li class="skills"> <span class="abilities">Microsoft Office </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span></li>
                    <li class="skills"> <span class="abilities">Excel </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span></li>
                    <li class="skills"> <span class="abilities">Fl Studio </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span></li>
                  
                    <li class="skills"> <span class="abilities">Adobe Premier Pro </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span></li>
                    <li class="skills"> <span class="abilities">Sketch Up Pro </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span></li>
                </ul>
            </div>
            

            </div>
            <div class="row ">
                
                <div class="col-md-6">
                    <h4  style="text-align: center;">Languages</h4>
                   <ul>
                    <li class="skills"> <span class="abilities">English </span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span></li>
                    <li class="skills"> <span class="abilities">French</span>
                        <span class="ability-score">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                    </span></li>
                   </ul> 
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
           
            </section>
        
          
          
        {%endblock%}