{%extends "layout.html"%}

{%block body%}
<section class="resume1">

    <h2>Technical Skills</h2>
    <ul>
        <li>html</li>
        <li>css</li>
        <li>python</li>
        <li>JavaScript</li>
        <li>SQL</li>
        <li>JSON</li>
        <li>API</li>
        <li>Flask Framework</li>
        <li>Django</li>
    </ul>
    
</section>
<section class="resume1">

    <h2>Soft Skills</h2>
</section>
<section class="resume1">
<h2>Hobbies & Extra-cooricullum</h2>
</section>


{%endblock%}